.photo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 96px);
    background-color: rgb(231, 231, 231);
}

.carousel{
    width: 90%;
}

.photo img{
    height: 680px;
    width: 80%;
    min-width: 500px;
    max-width: 1200px;
}

.arrow{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.438);
    padding: 20px;
    font: bold 2.5rem 'segoe';
    top: 50%;
}

.arrow span{
    display: inline-block;
    width: 100%;
}

#left{
    left: 10px;
}

#right{
    right: 10px;
}

@media (prefers-color-scheme: dark){
    .photo-container{
        background-color: rgb(67, 70, 77);
        color: rgb(216, 216, 216);
    }
}