.photo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(231, 231, 231);
}

@media (prefers-color-scheme: dark){
    .photo-container{
        background-color: rgb(67, 70, 77);
        color: rgb(216, 216, 216);
    }
}